<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title, links)">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title th:replace="${title}">Default Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <th:block th:replace="${links}"/>
</head>

<header th:fragment="header">
    <div class="top_bar">
        <button class="app_title">
            <a th:href="@{/}" th:text="#{app.title}"></a>
        </button>
        <div class="user_name">User Name</div>
    </div>
    <div class="vertical-menu">
        <h2>MENU</h2>
        <a th:href="@{welcome}" class="active">Welcome</a>
        <a th:href="@{info}">Info</a>
    </div>
</header>

<footer th:fragment="footer">
    <h3>Footer Title</h3>
    <p>© [[${#calendars.year(#calendars.createNow())}]] Artem Kovalov</p>
</footer>

</html>